<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="Client/Partials/_Head"></partial>
    @RenderSection("Head", required: false)
</head>
<body>
	<!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->
	
	<!-- header -->
	<partial name="Client/Partials/_Header"></partial>
    <!-- end header -->
	
	<!-- search area -->
@* 	<div class="search-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<span class="close-btn"><i class="fas fa-window-close"></i></span>
					<div class="search-bar">
						<div class="search-bar-tablecell">
							<form action="@Url.Action("Index", "Home")" method="get">
								<h3>Search For:</h3>
								<input type="text" name="searchTerm" placeholder="Keywords">
								<button type="submit">Search <i class="fas fa-search"></i></button>
							</form>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div> *@
	<!-- end search area -->

    @RenderBody()
	
	
	@* // Category  *@
	<!-- logo carousel -->
	<div class="logo-carousel-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="logo-carousel-inner">
						<partial name="Client/Partials/_Slider"></partial>
						@RenderSection("Slider", required: false)
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end logo carousel -->

	<!-- footer -->
	<partial name="Client/Partials/_Footer"></partial>
	<!-- end footer -->
	
	<partial name="Client/Partials/_Script"></partial>
    @RenderSection("Script", required: false)
</body>
</html>