@model AppCore.Models.ViewModels.CategoryRequest
@{
    Layout = "Admin/_Master";
    ViewData["Title"] = "Edit Category";
    @* var category =  ViewData["Category"]; *@
    var category = ViewData["Category"] as Category;
}
<h4>Sửa Danh Sách Sản Phẩm </h4>
@if (category != null) {
    <form method="post" asp-controller="Category" asp-action="Update" asp-route-categoryId="@category.CategoryId" enctype="multipart/form-data">
        @if (ViewBag.Message != null) {
            <div class="alert alert-info">
                <p>@ViewBag.Message</p>
            </div>
        }
        @* <input type="hidden" asp-for="CategoryId" value="@category.CategoryId" /> *@
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Name Category</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" asp-for="Name" value="@category.Name" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Image</label>
            <div class="col-sm-10">
                <input name="ImageUpload" type="file" class="form-control" id="imageInput" onchange="displayImage(this)" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            @* <img src="@category.Image" alt="" /> *@
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10">
                <textarea name="Description" cols="40" rows="5">@(category.Description)</textarea>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-7 col-xs-12">
                <div class="checkbox-fade fade-in-primary">
                    <label>
                        <input type="checkbox"  asp-for="Active"  checked="@(category.Active)" />
                        <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                        <span class="text-inverse">Active</span>
                    </label>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
}
else
{
    <p>Category not found.</p>
}